{
  "openapi": "3.1.0",
  "info": {
    "description": "This documentation describes the Bekanntmachungsservice API for bulk downloads of notices.\n\nThis API is available as OpenAPI spec in [YAML](/documentation/api.yaml/opendata) and [JSON](/documentation/api/opendata) formats.\n",
    "title": "Bekanntmachungsservice: OpenData API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://oeffentlichevergabe.de",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "description": "Open Data API",
      "name": "opendata"
    }
  ],
  "paths": {
    "/api/notice-exports": {
      "get": {
        "description": "This interface retrieves all notice versions that had been published by the Bekanntmachungsservice in a given month or on a given day.\n\nThe requested time frame can be specified with the `pubMonth` or `pubDay` parameters which are mutually exclusive.\nAll notice versions are returned that are published\n- at or after 00:00:00 o'clock on the first day of the specified month (inclusive search) and before 00:00:00 o'clock at the first day of the next month (exclusive search), when specifying `pubMonth`\n- at or after 00:00:00 o'clock on the specified day (inclusive search) and before 00:00:00 o'clock of the following day (exclusive search), when specifying `pubDay`\nThe times for these ranges are treated as times in the timezone Europe/Berlin.\n\nNotices are provided as a ZIP file containing notices in the requested file format.\nPlease note that the ZIP file may contain a different number of files depending on the selected format.\nAll formats contain the same notices for the same time range just encoded differently.\nSome formats like eForms and OCDS provide one file per notice inside the ZIP files.\nOther formats like CSV provide a fixed amount of files inside the ZIP file where different parts of a notice are stored in different files and each file contains data for all requested notices.\n\nA file format can be requested by specifying an `Accept` header according to the rules of HTTP Content Negotiation or by specifying a `format` query parameter.\nIf an `Accept` header and a `format` query parameter are present in the same request, the `format` query parameter takes precedence.\nThe following formats are supported.\n\n- format: `eforms.zip`, MIME type: `application/vnd.bekanntmachungsservice.eforms.zip+zip`\n  The original eForms format of the notices as they were submitted to the Bekanntmachungsservice.\n- format: `ocds.zip`, MIME type: `application/vnd.bekanntmachungsservice.ocds.zip+zip`\n  The notices in the Open Contracting Data Standard (OCDS) format.\n- format: `csv.zip`, MIME type: `application/vnd.bekanntmachungsservice.csv.zip+zip`\n  The notices in form of multiple CSV tables in a ZIP file.\n\nIf no format is explicitely requested the eForms format with the MIME type `application/vnd.bekanntmachungsservice.eforms.zip+zip` will be returned.\n\n# eForms Format\nThe format eForms is a standard for publishing public procurement data.\nThis is the original format that is used for notices submitted to the Bekanntmachungsservice by the procurement platforms.\nAll other supported formats are converted based on this format.\n\nThe base eForms format is defined by the EU. It is referred to as eForms-EU in this documentation.\nMember states are encouraged to adapt this base format to their national needs.\nThe format resulting from the national tailoring in Germany is referred to as eForms-DE in this documentation.\n\nDocumentation and SDKs for the different kinds of eForms can be found at the following locations.\n\n| Resource           | Link                                                                                                               |\n|--------------------|--------------------------------------------------------------------------------------------------------------------|\n| eForms-DE standard | [https://xeinkauf.de/eforms-de/](https://xeinkauf.de/eforms-de/)                                                   |\n| eForms-DE SDK      | [https://gitlab.opencode.de/OC000008125155/SDK-eforms-de](https://gitlab.opencode.de/OC000008125155/SDK-eforms-de) |\n| eForms-EU standard | [https://docs.ted.europa.eu/](https://docs.ted.europa.eu/)                                                         |\n| eForms-EU SDK      | [https://github.com/OP-TED/eForms-SDK](https://github.com/OP-TED/eForms-SDK)                                       |\n\nThere are different versions of the eForms standards.\nThe Bekanntmachungsservice contains only eForms notices of a subset of the available versions.\nThe Bekanntmachungsservice does only differentiate between major/minor versions but not between [patch versions](https://semver.org/).\n\n| Kind      | Version | eForms-EU base version |\n|-----------|---------|------------------------|\n| eForms-DE | 2.1     | 1.13                   |\n| eForms-DE | 2.0     | 1.12                   |\n| eForms-DE | 1.2     | 1.10                   |\n| eForms-DE | 1.1     | 1.7                    |\n| eForms-DE | 1.0     | 1.5                    |\n| eForms-EU | 1.13    | 1.13                   |\n| eForms-EU | 1.12    | 1.12                   |\n| eForms-EU | 1.10    | 1.10                   |\n| eForms-EU | 1.0     | 1.0                    |\n| eForms-EU | 0.1     | 0.1                    |\n\n# CSV Format\nWhen requesting the CSV format, a ZIP file containing multiple tables will be returned.\nThe main table is `notice.csv`.\nIt contains one row for each requested notice.\nAt this endpoint this file will contain only one row for the single notice that was requested.\nAt other endpoints that export multiple notices at once like `GET /api/notice-exports` there can be multiple rows.\nWherever there is an 1:n relation there is a new table in the ZIP file.\nE.g. `lot.csv` contains information about all lots of the requested notices.\n\nThe CSV files follow the standard defined in [RFC 4180](https://www.rfc-editor.org/rfc/rfc4180) .\nThe table names, column names and column order for existing columns is considered stable.\nIt is planed to not change these in future.\nIt is possible that new columns are added at the end of existing tables at any time.\nIt is also possible that new tables occur in the ZIP file.\nThese type of changes are considered backwards compatible.\n\nEach notice is identified by its `noticeIdentifier` and `noticeVersion`.\nThese columns are used in other tables as foreign key.\nE.g. to find the contracts of a notice, the `contract.csv` table must be filtered for rows that have a given `noticeIdentifier` and `noticeVersion`.\nSome data like `classification.csv` can be defined at notice level and at lot level.\nRows that have a value defined in the `lotIdentifier` column belong to the lot with the specified lotIdentifier of the notice.\nRows that have no value defined in that column belong to the notice itself.\n\nThe table data structure is based on the business terms defined for the eForms standard.\nThe documentation for the mapping of eForms business terms to CSV tables and columns can be found [here](/documentation/api/opendata/Documentation%20Bekanntmachungsservice%20CSV%20Format.ods) .\n\n# OCDS Format\nThe Open Contracting Data Standard (OCDS) is a JSON based format for publishing documents at all stages of contracting processes.\nOCDS can be seen as an alternative format for eForms as it serves related purposes.\n\nThe OCDS format is documented at [standard.open-contracting.org](https://standard.open-contracting.org).\nThe Bekanntmachungsservice supports OCDS version 1.1.\n",
        "operationId": "getExportAsEforms",
        "parameters": [
          {
            "description": "The month for which to retrieve the published notices. The format must be YYYY-MM, e.g. 2023-12. Cannot be specified along pubDay",
            "in": "query",
            "name": "pubMonth",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The day for which to retrieve the published notices. The format must be YYYY-MM-DD, e.g. 2023-12-24. Cannot be specified along pubMonth",
            "in": "query",
            "name": "pubDay",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Allows to specifiy the return format of the notices within the ZIP via a query parameter instead of the Accept header.",
            "in": "query",
            "name": "format",
            "schema": {
              "type": "string",
              "enum": [
                "eforms.zip",
                "ocds.zip",
                "csv.zip"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.bekanntmachungsservice.csv.zip+zip": {
                "schema": {
                  "type": "object",
                  "description": "The notice in the comma-separated values (CSV) format.",
                  "title": "CSV"
                }
              },
              "application/vnd.bekanntmachungsservice.eforms.zip+zip": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "ZIP containing notices in the original eForms format as they were submitted to the Bekanntmachungsservice.",
                  "title": "eForms"
                }
              },
              "application/vnd.bekanntmachungsservice.ocds.zip+zip": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "ZIP containing notices in the Open Contracting Data Standard (OCDS).",
                  "title": "OCDS"
                }
              }
            },
            "description": "When the notices could be retrieved as expected. Empty ZIP is provided if no notices were found in the requested month or on the requested day respectively."
          },
          "400": {
            "content": {
              "text/plain": {}
            },
            "description": "- When the supplied `pubMonth` parameter is invalid. The format must be YYYY-MM, e.g. 2023-12.\n- When the supplied `pubDay` parameter is invalid. The format must be YYYY-MM-DD, e.g. 2023-12-24.\n- When neither `pubMonth` nor `pubDay` is present.\n- When `pubMonth` and `pubDay` are specified at the same time.\n- When `pubMonth` prior to 2022-12 is requested.\n- When a future `pubMonth` is requested.\n- When `pubDay` prior to 2022-12-01 is requested.\n- When a `pubDay` is requested that is today or in the future.\n"
          },
          "415": {
            "content": {
              "text/plain": {}
            },
            "description": "When an unsupported format for the notices is requested."
          }
        },
        "summary": "Exports all notices in a given month or on a given day.",
        "tags": [
          "opendata"
        ]
      }
    }
  },
  "components": {}
}